body {
  height: 100vh;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}

/* pseudo elemnts or ::before & ::after not working on img element */
/* img::before {
  content: '';
  display: block;
  width: 100px;
  height: 100px;
  background: purple;
} */

/* add this before content of paragraph NOT before paragraph  */
p::before {
  content: 'hello';
  background: red;
  font-size: 90px;
  color: white;
  font-weight: 900;
}

/* add this after content of paragraph NOT after paragraph  */
p::after {
  content: 'goodbye';
  display: block;
  background: red;
  font-size: 90px;
  color: white;
  font-weight: 900;
}